<!DOCTYPE html>
<html>
  <head>
    <title>Express/Reflux/Router/React Test</title>
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <div id="app">
      <%- content %>
    </div>
    <script type="text/javascript" src="/bundle.js"></script>
  </body>
</html>
